In [35]:
# Import necessary libraries
import pandas as pd
import glob

In [36]:
# Folder where the csv files are located
folder_path = r'C:\Users\Ernie\Documents\GitHub\Citi Bike Viz\Resources\\'

In [37]:
# Find all csv files in the folder
csv_files = glob.glob(folder_path + "*.csv")

In [38]:
# List to store DataFrames
dfs = []

# Loop through each file and aggregate 100 rows
for file in csv_files:
    df=pd.read_csv(file)
    df_sample = df.sample(100)
    dfs.append(df_sample)

C:\Users\Ernie\AppData\Local\Temp\ipykernel_19184\3231143352.py:6: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(file)

In [39]:
# Concatenate all DataFrames into one
final_df = pd.concat(dfs, ignore_index=True)
final_df.head(10)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0E402F8E351FC691,classic_bike,2024-05-29 18:55:37,2024-05-29 19:09:43,6 Ave & W 34 St,6364.10,3 Ave & E 62 St,6762.04,40.749640,-73.988050,40.763126,-73.965269,member
1,1C5BBF6F1A795404,classic_bike,2024-05-17 13:50:14,2024-05-17 14:03:16,Lispenard St & Broadway,5391.06,Greenwich St & Hubert St,5470.1,40.719392,-74.002472,40.721319,-74.010065,member
2,FDC81FFBE1338236,electric_bike,2024-05-12 14:13:50,2024-05-12 14:38:28,1 Ave & E 39 St,6303.01,Madison Ave & E 82 St,7188.13,40.747250,-73.971107,40.778131,-73.960694,casual
3,668A155AFC8BB525,classic_bike,2024-05-03 19:15:55,2024-05-03 19:36:27,West St & Liberty St,5184.08,West St & Liberty St,5184.08,40.711444,-74.014847,40.711444,-74.014847,casual
4,4895AB0EE2408937,electric_bike,2024-05-16 21:08:18,2024-05-16 21:17:32,Central Park West & W 72 St,7141.07,E 85 St & 3 Ave,7212.05,40.775848,-73.976059,40.778012,-73.954071,casual
5,EE6F67D1DD7579B1,classic_bike,2024-05-12 00:39:13,2024-05-12 00:40:19,Bedford Ave & Fenimore St,3552.09,Bedford Ave & Maple St,3625.04,40.658150,-73.956740,40.660350,-73.956790,member
6,D3647CBE4E4C3862,electric_bike,2024-05-09 18:05:08,2024-05-09 18:15:04,Vernon Blvd & 31 Ave,7003.06,Vernon Blvd & 50 Ave,6170.02,40.769329,-73.935621,40.742327,-73.954117,member
7,4FA4330C51A79742,electric_bike,2024-05-10 00:40:41,2024-05-10 00:42:54,Washington Pl & 6 Ave,5838.09,Greenwich Ave & Charles St,5914.08,40.732241,-74.000264,40.735238,-74.000271,member
8,4E83D5DCB9745FF0,electric_bike,2024-05-30 19:15:34,2024-05-30 19:43:43,Meserole Ave & Manhattan Ave,5666.04,Monroe St & Marcus Garvey Blvd,4467.03,40.726992,-73.952916,40.686722,-73.938988,casual
9,746FEBBC9F4B3F33,electric_bike,2024-05-03 19:00:21,2024-05-03 19:14:25,Broadway & W 61 St,7014.12,3 Ave & E 62 St,6762.04,40.770432,-73.982434,40.763126,-73.965269,member

In [40]:
# Save the aggregated data to a new CSV file
final_df.to_csv(r'C:\Users\Ernie\Documents\GitHub\Citi_Bike_Viz\Resources\aggregated_sample.csv', index=False)

Split Date and Time

In [41]:
# Load the csv file
df_aggregated_sample = pd.read_csv(r'C:\Users\Ernie\Documents\GitHub\Citi_Bike_Viz\Resources\aggregated_sample.csv')

In [42]:
# Convert 'started_at' and 'ended_at' columns to datetime format
df_aggregated_sample['started_at']= pd.to_datetime(df_aggregated_sample['started_at'])
df_aggregated_sample['ended_at'] = pd.to_datetime(df_aggregated_sample['ended_at'])

In [43]:
# Extract the date and time parts
df_aggregated_sample['start_date'] = df_aggregated_sample ['started_at'].dt.date
df_aggregated_sample['start_time'] =df_aggregated_sample ['started_at'].dt.time
df_aggregated_sample['end_date'] = df_aggregated_sample['ended_at'].dt.date
df_aggregated_sample['end_time'] = df_aggregated_sample['ended_at'].dt.time

In [44]:
# Save the updated DataFrame back to a new CSV file
df_aggregated_sample.to_csv(r'C:\Users\Ernie\Documents\GitHub\Citi_Bike_Viz\Resources\updated_file.csv', index=False)

Analysis

In [45]:
df_aggregated_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             1200 non-null   object
 1   rideable_type       1200 non-null   object
 2   started_at          1200 non-null   datetime64[ns]
 3   ended_at            1200 non-null   datetime64[ns]
 4   start_station_name  1200 non-null   object
 5   start_station_id    1200 non-null   object
 6   end_station_name    1197 non-null   object
 7   end_station_id      1197 non-null   object
 8   start_lat           1200 non-null   float64
 9   start_lng           1200 non-null   float64
 10  end_lat             1199 non-null   float64
 11  end_lng             1199 non-null   float64
 12  member_casual       1200 non-null   object
 13  start_date          1200 non-null   object
 14  start_time          1200 non-null   object
 15  end_date            1200 non-null   object
 16  end_time            1200 non-null   object
dtypes: datetime64[ns](2), float64(4), object(11)
memory usage: 159.5+ KB

In [46]:
# Display rows with NaN values in any column
nan_rows = df_aggregated_sample[df_aggregated_sample.isnull().any(axis = 1)]
nan_rows

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time
285,30A5A676A7216521,classic_bike,2023-07-26 17:57:45,2023-07-26 18:53:26,Harborside,JC104,NaN,NaN,40.718923,-74.034230,40.73,-74.05,member,2023-07-26,17:57:45,2023-07-26,18:53:26
342,557C3DA0CB4E9B62,classic_bike,2023-08-16 16:46:38,2023-08-16 18:02:01,8 St & Washington St,HB603,NaN,NaN,40.745979,-74.028155,40.74,-74.05,member,2023-08-16,16:46:38,2023-08-16,18:02:01
712,9F01A5250F7A93A5,classic_bike,2023-12-01 19:45:19,2023-12-02 20:45:01,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,NaN,NaN,40.736982,-74.027781,NaN,NaN,member,2023-12-01,19:45:19,2023-12-02,20:45:01

In [47]:
df_updated = pd.read_csv(r'C:\Users\Ernie\Documents\GitHub\Citi_Bike_Viz\Resources\updated_file.csv')
df_updated.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time
0,0E402F8E351FC691,classic_bike,2024-05-29 18:55:37,2024-05-29 19:09:43,6 Ave & W 34 St,6364.10,3 Ave & E 62 St,6762.04,40.749640,-73.988050,40.763126,-73.965269,member,2024-05-29,18:55:37,2024-05-29,19:09:43
1,1C5BBF6F1A795404,classic_bike,2024-05-17 13:50:14,2024-05-17 14:03:16,Lispenard St & Broadway,5391.06,Greenwich St & Hubert St,5470.1,40.719392,-74.002472,40.721319,-74.010065,member,2024-05-17,13:50:14,2024-05-17,14:03:16
2,FDC81FFBE1338236,electric_bike,2024-05-12 14:13:50,2024-05-12 14:38:28,1 Ave & E 39 St,6303.01,Madison Ave & E 82 St,7188.13,40.747250,-73.971107,40.778131,-73.960694,casual,2024-05-12,14:13:50,2024-05-12,14:38:28
3,668A155AFC8BB525,classic_bike,2024-05-03 19:15:55,2024-05-03 19:36:27,West St & Liberty St,5184.08,West St & Liberty St,5184.08,40.711444,-74.014847,40.711444,-74.014847,casual,2024-05-03,19:15:55,2024-05-03,19:36:27
4,4895AB0EE2408937,electric_bike,2024-05-16 21:08:18,2024-05-16 21:17:32,Central Park West & W 72 St,7141.07,E 85 St & 3 Ave,7212.05,40.775848,-73.976059,40.778012,-73.954071,casual,2024-05-16,21:08:18,2024-05-16,21:17:32

In [48]:
# Convert the 'end_date' and 'start_date' , 'end_time' and 'start_time' to datetime format
df_updated['start_date']= pd.to_datetime(df_updated['start_date'])
df_updated['end_date'] = pd.to_datetime(df_updated['end_date'])
df_updated['start_time']= pd.to_datetime(df_updated['start_time'])
df_updated['end_time'] = pd.to_datetime(df_updated['end_time'])

C:\Users\Ernie\AppData\Local\Temp\ipykernel_19184\2111417515.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_updated['start_time']= pd.to_datetime(df_updated['start_time'])
C:\Users\Ernie\AppData\Local\Temp\ipykernel_19184\2111417515.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_updated['end_time'] = pd.to_datetime(df_updated['end_time'])

In [49]:
# Calculate the difference between 'end_date' and 'start_date'
df_updated['date_length']=df_updated['end_date'] - df_updated['start_date']
df_updated[['start_date','end_date','date_length']].head()

  start_date   end_date date_length
0 2024-05-29 2024-05-29      0 days
1 2024-05-17 2024-05-17      0 days
2 2024-05-12 2024-05-12      0 days
3 2024-05-03 2024-05-03      0 days
4 2024-05-16 2024-05-16      0 days

In [50]:
# Filter rows where 'date_length' is greater than 0 days and save it to csv file
df_above_zero =df_updated[df_updated['date_length']>pd.Timedelta(days=0)]
df_above_zero.to_csv(r'C:\Users\Ernie\Documents\GitHub\Citi_Bike_Viz\Resources\filtered_above_zero.csv', index=False)
df_above_zero

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time,date_length
44,0150BBCC01A5C50A,electric_bike,2024-05-08 23:34:21,2024-05-09 00:01:04,W 20 St & 7 Ave,6182.02,3 St & 7 Ave,3905.15,40.742428,-73.997587,40.670384,-73.978397,member,2024-05-08,2024-09-07 23:34:21,2024-05-09,2024-09-07 00:01:04,1 days
389,9E37CD123521EBF3,classic_bike,2023-08-29 22:10:45,2023-08-30 01:13:39,14 St Ferry - 14 St & Shipyard Ln,HB202,14 St Ferry - 14 St & Shipyard Ln,HB202,40.752961,-74.024353,40.752961,-74.024353,casual,2023-08-29,2024-09-07 22:10:45,2023-08-30,2024-09-07 01:13:39,1 days
712,9F01A5250F7A93A5,classic_bike,2023-12-01 19:45:19,2023-12-02 20:45:01,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,NaN,NaN,40.736982,-74.027781,NaN,NaN,member,2023-12-01,2024-09-07 19:45:19,2023-12-02,2024-09-07 20:45:01,1 days
725,0EB9957D8693F626,classic_bike,2023-12-01 23:59:22,2023-12-02 00:05:37,Liberty Light Rail,JC052,Lafayette Park,JC078,40.711242,-74.055701,40.713464,-74.062859,member,2023-12-01,2024-09-07 23:59:22,2023-12-02,2024-09-07 00:05:37,1 days

In [52]:
# Calculate the difference between 'end_time' and 'start_time'
df_updated['time_length']=df_updated['end_time'] - df_updated['start_time']
df_updated[['ride_id','start_time','end_time','time_length']].head()

            ride_id          start_time            end_time     time_length
0  0E402F8E351FC691 2024-09-07 18:55:37 2024-09-07 19:09:43 0 days 00:14:06
1  1C5BBF6F1A795404 2024-09-07 13:50:14 2024-09-07 14:03:16 0 days 00:13:02
2  FDC81FFBE1338236 2024-09-07 14:13:50 2024-09-07 14:38:28 0 days 00:24:38
3  668A155AFC8BB525 2024-09-07 19:15:55 2024-09-07 19:36:27 0 days 00:20:32
4  4895AB0EE2408937 2024-09-07 21:08:18 2024-09-07 21:17:32 0 days 00:09:14

In [53]:
# Export the DataFrame as CSV
df_updated.to_csv(r'C:\Users\Ernie\Documents\GitHub\Citi_Bike_Viz\Resources\df_duration.csv', index=False)