In [15]:
# Import necessary libraries
import pandas as pd
import glob

In [16]:
# Folder where the csv files are located
folder_path = r'C:\Users\Ernie\Documents\GitHub\Citi Bike Viz\Resources\\'

In [17]:
# Find all csv files in the folder
csv_files = glob.glob(folder_path + "*.csv")

In [18]:
# List to store DataFrames
dfs = []

# Loop through each file and aggregate 100 rows
for file in csv_files:
    df=pd.read_csv(file)
    df_sample = df.sample(100)
    dfs.append(df_sample)

C:\Users\Ernie\AppData\Local\Temp\ipykernel_19184\3231143352.py:6: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(file)

In [19]:
# Concatenate all DataFrames into one
final_df = pd.concat(dfs, ignore_index=True)
final_df.head(10)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time
0,14B7118CE3BDAAA7,classic_bike,2024-05-21 08:28:01,2024-05-21 08:39:02,Broadway & W 61 St,7014.12,8 Ave & W 38 St,6526.05,40.770030,-73.981968,40.754610,-73.991770,member,NaN,NaN,NaN,NaN
1,373A2EE6DD070263,classic_bike,2024-05-04 21:28:20,2024-05-04 21:38:54,E 41 St & Madison Ave (SE corner),6432.10,1 Ave & E 30 St,6079.03,40.752049,-73.979635,40.741444,-73.975361,member,NaN,NaN,NaN,NaN
2,3C820306CDE1CEBC,classic_bike,2024-05-20 18:16:43,2024-05-20 18:26:00,6 Ave & Broome St,5610.09,Bank St & Hudson St,5922.08,40.724310,-74.004730,40.736529,-74.006180,member,NaN,NaN,NaN,NaN
3,2B01F18C62F2C7A6,electric_bike,2024-05-01 18:19:28,2024-05-01 18:41:06,Greene St & Prince St,5602.06,Evergreen Ave & Noll St,4873.08,40.725134,-73.999254,40.701060,-73.933180,member,NaN,NaN,NaN,NaN
4,B9D8C80A78B5ABB9,electric_bike,2024-05-09 18:48:52,2024-05-09 18:55:01,Canal St & Rutgers St,5303.08,Allen St & Rivington St,5414.06,40.714254,-73.989790,40.720196,-73.989978,member,NaN,NaN,NaN,NaN
5,C66AC8E80CB73472,electric_bike,2024-05-30 11:54:23,2024-05-30 12:13:49,Bradhurst Ave & W 148 St,7992.04,E 91 St & 2 Ave,7286.01,40.825019,-73.941634,40.781153,-73.949630,member,NaN,NaN,NaN,NaN
6,98B10629AE62965D,classic_bike,2024-05-31 16:26:38,2024-05-31 16:36:22,Lispenard St & Broadway,5391.06,West St & Liberty St,5184.08,40.719392,-74.002472,40.711444,-74.014847,member,NaN,NaN,NaN,NaN
7,B2FB26A2D7088FF6,electric_bike,2024-05-23 13:12:36,2024-05-23 21:45:15,S 5 Pl & S 5 St,5125.03,Monroe St & Marcus Garvey Blvd,4467.03,40.710362,-73.960902,40.686722,-73.938988,member,NaN,NaN,NaN,NaN
8,190881C048A6D5A8,classic_bike,2024-05-20 13:41:45,2024-05-20 13:53:01,Hanson Pl & Ashland Pl,4395.07,Cumberland St & Lafayette Ave,4428.02,40.685068,-73.977908,40.687534,-73.972652,member,NaN,NaN,NaN,NaN
9,09C4BE46DC386818,electric_bike,2024-05-30 18:27:27,2024-05-30 18:36:18,Broadway & Roebling St,5125.07,Canal St & Rutgers St,5303.08,40.709244,-73.960569,40.714275,-73.989900,member,NaN,NaN,NaN,NaN

In [20]:
# Save the aggregated data to a new CSV file
final_df.to_csv(r'C:\Users\Ernie\Documents\GitHub\Citi_Bike_Viz\Resources\aggregated_sample.csv', index=False)

Split Date and Time

In [21]:
# Load the csv file
df_aggregated_sample = pd.read_csv(r'C:\Users\Ernie\Documents\GitHub\Citi_Bike_Viz\Resources\aggregated_sample.csv')

In [22]:
# Convert 'started_at' and 'ended_at' columns to datetime format
df_aggregated_sample['started_at']= pd.to_datetime(df_aggregated_sample['started_at'])
df_aggregated_sample['ended_at'] = pd.to_datetime(df_aggregated_sample['ended_at'])

In [23]:
# Extract the date and time parts
df_aggregated_sample['start_date'] = df_aggregated_sample ['started_at'].dt.date
df_aggregated_sample['start_time'] =df_aggregated_sample ['started_at'].dt.time
df_aggregated_sample['end_date'] = df_aggregated_sample['ended_at'].dt.date
df_aggregated_sample['end_time'] = df_aggregated_sample['ended_at'].dt.time

In [24]:
# Save the updated DataFrame back to a new CSV file
df_aggregated_sample.to_csv(r'C:\Users\Ernie\Documents\GitHub\Citi_Bike_Viz\Resources\updated_file.csv', index=False)

Analysis

In [33]:
df_aggregated_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300 entries, 0 to 1299
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             1300 non-null   object
 1   rideable_type       1300 non-null   object
 2   started_at          1300 non-null   datetime64[ns]
 3   ended_at            1300 non-null   datetime64[ns]
 4   start_station_name  1298 non-null   object
 5   start_station_id    1298 non-null   object
 6   end_station_name    1294 non-null   object
 7   end_station_id      1294 non-null   object
 8   start_lat           1300 non-null   float64
 9   start_lng           1300 non-null   float64
 10  end_lat             1299 non-null   float64
 11  end_lng             1299 non-null   float64
 12  member_casual       1300 non-null   object
 13  start_date          1300 non-null   object
 14  start_time          1300 non-null   object
 15  end_date            1300 non-null   object
 16  end_time            1300 non-null   object
dtypes: datetime64[ns](2), float64(4), object(11)
memory usage: 172.8+ KB

In [34]:
# Display rows with NaN values in any column
nan_rows = df_aggregated_sample[df_aggregated_sample.isnull().any(axis = 1)]
nan_rows

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time
138,DB7E753967C607AD,electric_bike,2024-05-04 11:56:40,2024-05-04 13:00:22,NaN,NaN,Rivington St & Ridge St,5406.02,40.730000,-73.990000,40.718502,-73.983299,member,2024-05-04,11:56:40,2024-05-04,13:00:22
280,20B221F3C83054DB,classic_bike,2023-07-07 18:04:21,2023-07-07 19:12:44,Willow Ave & 12 St,HB505,NaN,NaN,40.751943,-74.030366,40.740000,-74.030000,member,2023-07-07,18:04:21,2023-07-07,19:12:44
366,C0A12F91E3525981,classic_bike,2023-08-01 11:24:15,2023-08-02 12:24:02,Hoboken Terminal - River St & Hudson Pl,HB102,NaN,NaN,40.736068,-74.029127,NaN,NaN,casual,2023-08-01,11:24:15,2023-08-02,12:24:02
510,1449A411B76FE731,classic_bike,2023-10-06 08:41:01,2023-10-06 09:40:33,Bergen Ave,JC095,NaN,NaN,40.722186,-74.071395,40.730000,-74.060000,member,2023-10-06,08:41:01,2023-10-06,09:40:33
1039,A845D92183FADD9B,electric_bike,2024-03-31 14:00:55,2024-03-31 15:03:15,NaN,NaN,NaN,NaN,40.750000,-74.040000,40.750000,-74.040000,member,2024-03-31,14:00:55,2024-03-31,15:03:15
1209,4C053984E2E12760,classic_bike,2023-09-19 08:30:10,2023-09-19 09:35:30,Grove St PATH,JC115,NaN,NaN,40.719093,-74.043297,40.710000,-74.040000,member,2023-09-19,08:30:10,2023-09-19,09:35:30
1293,919DBB4E5E8D0CCE,classic_bike,2023-10-03 04:47:56,2023-10-03 05:53:02,Glenwood Ave,JC094,NaN,NaN,40.727728,-74.071023,40.730000,-74.060000,member,2023-10-03,04:47:56,2023-10-03,05:53:02

In [25]:
df_updated = pd.read_csv(r'C:\Users\Ernie\Documents\GitHub\Citi_Bike_Viz\Resources\updated_file.csv')
df_updated.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time
0,14B7118CE3BDAAA7,classic_bike,2024-05-21 08:28:01,2024-05-21 08:39:02,Broadway & W 61 St,7014.12,8 Ave & W 38 St,6526.05,40.770030,-73.981968,40.754610,-73.991770,member,2024-05-21,08:28:01,2024-05-21,08:39:02
1,373A2EE6DD070263,classic_bike,2024-05-04 21:28:20,2024-05-04 21:38:54,E 41 St & Madison Ave (SE corner),6432.10,1 Ave & E 30 St,6079.03,40.752049,-73.979635,40.741444,-73.975361,member,2024-05-04,21:28:20,2024-05-04,21:38:54
2,3C820306CDE1CEBC,classic_bike,2024-05-20 18:16:43,2024-05-20 18:26:00,6 Ave & Broome St,5610.09,Bank St & Hudson St,5922.08,40.724310,-74.004730,40.736529,-74.006180,member,2024-05-20,18:16:43,2024-05-20,18:26:00
3,2B01F18C62F2C7A6,electric_bike,2024-05-01 18:19:28,2024-05-01 18:41:06,Greene St & Prince St,5602.06,Evergreen Ave & Noll St,4873.08,40.725134,-73.999254,40.701060,-73.933180,member,2024-05-01,18:19:28,2024-05-01,18:41:06
4,B9D8C80A78B5ABB9,electric_bike,2024-05-09 18:48:52,2024-05-09 18:55:01,Canal St & Rutgers St,5303.08,Allen St & Rivington St,5414.06,40.714254,-73.989790,40.720196,-73.989978,member,2024-05-09,18:48:52,2024-05-09,18:55:01

In [26]:
# Convert the 'end_date' and 'start_date' , 'end_time' and 'start_time' to datetime format
df_updated['start_date']= pd.to_datetime(df_updated['start_date'])
df_updated['end_date'] = pd.to_datetime(df_updated['end_date'])
df_updated['start_time']= pd.to_datetime(df_updated['start_time'])
df_updated['end_time'] = pd.to_datetime(df_updated['end_time'])

C:\Users\Ernie\AppData\Local\Temp\ipykernel_19184\2111417515.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_updated['start_time']= pd.to_datetime(df_updated['start_time'])
C:\Users\Ernie\AppData\Local\Temp\ipykernel_19184\2111417515.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_updated['end_time'] = pd.to_datetime(df_updated['end_time'])

In [27]:
# Calculate the difference between 'end_date' and 'start_date'
df_updated['date_length']=df_updated['end_date'] - df_updated['start_date']
df_updated[['start_date','end_date','date_length']].head()

  start_date   end_date date_length
0 2024-05-21 2024-05-21      0 days
1 2024-05-04 2024-05-04      0 days
2 2024-05-20 2024-05-20      0 days
3 2024-05-01 2024-05-01      0 days
4 2024-05-09 2024-05-09      0 days

In [28]:
# Filter rows where 'date_length' is greater than 0 days and save it to csv file
df_above_zero =df_updated[df_updated['date_length']>pd.Timedelta(days=0)]
df_above_zero.to_csv(r'C:\Users\Ernie\Documents\GitHub\Citi_Bike_Viz\Resources\filtered_above_zero.csv', index=False)
df_above_zero

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time,date_length
292,2E70EC5E47943CC9,classic_bike,2023-07-23 23:34:21,2023-07-24 01:32:11,Baldwin at Montgomery,JC020,Baldwin at Montgomery,JC020,40.723561,-74.064289,40.723659,-74.064194,casual,2023-07-23,2024-09-06 23:34:21,2023-07-24,2024-09-06 01:32:11,1 days
316,9BFFED067C64BB2B,classic_bike,2023-08-27 23:54:47,2023-08-28 00:00:49,Grove St PATH,JC115,Christ Hospital,JC034,40.719260,-74.043203,40.734786,-74.050444,member,2023-08-27,2024-09-06 23:54:47,2023-08-28,2024-09-06 00:00:49,1 days
332,C1CF6E10BCBAB58F,classic_bike,2023-08-06 23:53:22,2023-08-07 00:06:42,City Hall - Washington St & 1 St,HB105,Fairmount Ave,JC093,40.737180,-74.031103,40.725726,-74.071959,casual,2023-08-06,2024-09-06 23:53:22,2023-08-07,2024-09-06 00:06:42,1 days
366,C0A12F91E3525981,classic_bike,2023-08-01 11:24:15,2023-08-02 12:24:02,Hoboken Terminal - River St & Hudson Pl,HB102,NaN,NaN,40.736068,-74.029127,NaN,NaN,casual,2023-08-01,2024-09-06 11:24:15,2023-08-02,2024-09-06 12:24:02,1 days
583,650E6B25FCA67A31,classic_bike,2023-10-14 23:50:07,2023-10-15 00:03:40,Grove St PATH,JC115,Liberty Light Rail,JC052,40.719410,-74.043090,40.711242,-74.055701,member,2023-10-14,2024-09-06 23:50:07,2023-10-15,2024-09-06 00:03:40,1 days

In [29]:
# Calculate the difference between 'end_time' and 'start_time'
df_updated['time_length']=df_updated['end_time'] - df_updated['start_time']
df_updated[['start_time','end_time','time_length']].head()

           start_time            end_time     time_length
0 2024-09-06 08:28:01 2024-09-06 08:39:02 0 days 00:11:01
1 2024-09-06 21:28:20 2024-09-06 21:38:54 0 days 00:10:34
2 2024-09-06 18:16:43 2024-09-06 18:26:00 0 days 00:09:17
3 2024-09-06 18:19:28 2024-09-06 18:41:06 0 days 00:21:38
4 2024-09-06 18:48:52 2024-09-06 18:55:01 0 days 00:06:09