In [71]:
# Import necessary libraries
import pandas as pd
import glob

In [72]:
# Folder where the csv files are located
folder_path = r'C:\Users\Ernie\Documents\GitHub\Citi Bike Viz\Resources\\'

In [73]:
# Find all csv files in the folder
csv_files = glob.glob(folder_path + "*.csv")

In [74]:
# List to store DataFrames
dfs = []

# Loop through each file and aggregate 100 rows
for file in csv_files:
    df=pd.read_csv(file)
    df_sample = df.sample(100)
    dfs.append(df_sample)

C:\Users\Ernie\AppData\Local\Temp\ipykernel_3948\3231143352.py:6: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(file)

In [77]:
# Concatenate all DataFrames into one
final_df = pd.concat(dfs, ignore_index=True)
final_df.head(10)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,59A4DCD98F94A93B,electric_bike,2024-05-24 20:23:29,2024-05-24 20:29:07,E 123 St & Lexington Ave,7636.05,Adam Clayton Powell Blvd & W 126 St,7738.04,40.802837,-73.937699,40.809495,-73.947765,member
1,82D463603CFC99AF,electric_bike,2024-05-24 18:09:52,2024-05-24 18:31:31,W 27 St & 7 Ave,6247.06,Stanton St & Norfolk St,5445.07,40.746774,-73.993727,40.720747,-73.986274,member
2,0D545933F9730670,electric_bike,2024-05-29 17:02:45,2024-05-29 17:23:19,FDR Drive & E 35 St,6230.04,Columbia Heights & Cranberry St,4829.01,40.743967,-73.971368,40.700379,-73.995481,member
3,AE5B96B921B0CB3F,electric_bike,2024-05-11 20:08:41,2024-05-11 20:19:08,Grand Concourse & E 167 St,8126.07,E 142 St & 3 Ave,7781.1,40.834254,-73.917670,40.812735,-73.923697,member
4,9D833E0C4B840004,classic_bike,2024-05-25 08:43:36,2024-05-25 08:55:55,President St & 4 Ave,4101.17,Berkeley Pl & 7 Ave,4051.01,40.676757,-73.983262,40.675147,-73.975232,member
5,6449225B8B69A54B,classic_bike,2024-05-31 00:02:49,2024-05-31 00:04:32,E 27 St & Park Ave S,6131.13,5 Ave & E 30 St,6248.08,40.742752,-73.984716,40.745985,-73.986295,member
6,C31B20C709B605BA,classic_bike,2024-05-02 11:15:23,2024-05-02 12:13:46,Allen St & Rivington St,5414.06,Howard St & Lafayette St,5422.04,40.720196,-73.989978,40.719105,-73.999733,member
7,EEA89258ACFD8A86,electric_bike,2024-05-09 08:38:47,2024-05-09 08:43:39,Pearl St & Hanover Square,4993.02,Park Pl & Church St,5288.08,40.705196,-74.009327,40.713342,-74.009355,member
8,EAAA74CBDF10034B,electric_bike,2024-05-26 13:56:34,2024-05-26 14:18:16,Leonard St & Nassau Ave,5550.09,Pier 40 - Hudson River Park,5696.03,40.723929,-73.949861,40.727714,-74.011296,member
9,4AB40A6DCD0C5EA7,electric_bike,2024-05-04 21:15:32,2024-05-04 21:25:26,E 27 St & Park Ave S,6131.13,Lafayette St & Grand St,5422.09,40.743098,-73.985047,40.720280,-73.998790,member

In [85]:
# Save the aggregated data to a new CSV file
final_df.to_csv(r'C:\Users\Ernie\Documents\GitHub\Citi Bike Viz\Resources\aggregated_sample.csv', index=False)

Split Date and Time

In [88]:
# Load the csv file
df_aggregated_sample = pd.read_csv(r'C:\Users\Ernie\Documents\GitHub\Citi Bike Viz\Resources\aggregated_sample.csv')

In [89]:
# Convert 'started_at' and 'ended_at' columns to datetime format
df_aggregated_sample['started_at']= pd.to_datetime(df_aggregated_sample['started_at'])
df_aggregated_sample['ended_at'] = pd.to_datetime(df_aggregated_sample['ended_at'])

In [90]:
# Extract the date and time parts
df_aggregated_sample['start_date'] = df_aggregated_sample ['started_at'].dt.date
df_aggregated_sample['start_time'] =df_aggregated_sample ['started_at'].dt.time
df_aggregated_sample['end_date'] = df_aggregated_sample['ended_at'].dt.date
df_aggregated_sample['end_time'] = df_aggregated_sample['ended_at'].dt.time

In [91]:
# Save the updated DataFrame back to a new CSV file
df_aggregated_sample.to_csv(r'C:\Users\Ernie\Documents\GitHub\Citi Bike Viz\Resources\updated_file.csv', index=False)

Analysis

In [92]:
df_updated = pd.read_csv(r'C:\Users\Ernie\Documents\GitHub\Citi Bike Viz\Resources\updated_file.csv')
df_updated.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time
0,59A4DCD98F94A93B,electric_bike,2024-05-24 20:23:29,2024-05-24 20:29:07,E 123 St & Lexington Ave,7636.05,Adam Clayton Powell Blvd & W 126 St,7738.04,40.802837,-73.937699,40.809495,-73.947765,member,2024-05-24,20:23:29,2024-05-24,20:29:07
1,82D463603CFC99AF,electric_bike,2024-05-24 18:09:52,2024-05-24 18:31:31,W 27 St & 7 Ave,6247.06,Stanton St & Norfolk St,5445.07,40.746774,-73.993727,40.720747,-73.986274,member,2024-05-24,18:09:52,2024-05-24,18:31:31
2,0D545933F9730670,electric_bike,2024-05-29 17:02:45,2024-05-29 17:23:19,FDR Drive & E 35 St,6230.04,Columbia Heights & Cranberry St,4829.01,40.743967,-73.971368,40.700379,-73.995481,member,2024-05-29,17:02:45,2024-05-29,17:23:19
3,AE5B96B921B0CB3F,electric_bike,2024-05-11 20:08:41,2024-05-11 20:19:08,Grand Concourse & E 167 St,8126.07,E 142 St & 3 Ave,7781.1,40.834254,-73.917670,40.812735,-73.923697,member,2024-05-11,20:08:41,2024-05-11,20:19:08
4,9D833E0C4B840004,classic_bike,2024-05-25 08:43:36,2024-05-25 08:55:55,President St & 4 Ave,4101.17,Berkeley Pl & 7 Ave,4051.01,40.676757,-73.983262,40.675147,-73.975232,member,2024-05-25,08:43:36,2024-05-25,08:55:55

In [94]:
# Convert the 'end_date' and 'start_date' , 'end_time' and 'start_time' to datetime format
df_updated['start_date']= pd.to_datetime(df_updated['start_date'])
df_updated['end_date'] = pd.to_datetime(df_updated['end_date'])
df_updated['start_time']= pd.to_datetime(df_updated['start_time'])
df_updated['end_time'] = pd.to_datetime(df_updated['end_time'])

C:\Users\Ernie\AppData\Local\Temp\ipykernel_3948\2111417515.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_updated['start_time']= pd.to_datetime(df_updated['start_time'])
C:\Users\Ernie\AppData\Local\Temp\ipykernel_3948\2111417515.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_updated['end_time'] = pd.to_datetime(df_updated['end_time'])

In [95]:
# Calculate the difference between 'end_date' and 'start_date'
df_updated['date_length']=df_updated['end_date'] - df_updated['start_date']
df_updated[['start_date','end_date','date_length']].head()

  start_date   end_date date_length
0 2024-05-24 2024-05-24      0 days
1 2024-05-24 2024-05-24      0 days
2 2024-05-29 2024-05-29      0 days
3 2024-05-11 2024-05-11      0 days
4 2024-05-25 2024-05-25      0 days

In [96]:
# Filter rows where 'date_length' is greater than 0 days
df_above_zero =df_updated[df_updated['date_length']>pd.Timedelta(days=0)]
df_above_zero

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time,date_length
35,AA145BF0586FC6F5,electric_bike,2024-05-17 23:52:52,2024-05-18 00:15:59,Allen St & Stanton St,5484.09,Sumpter St & Fulton St,4187.04,40.721941,-73.989102,40.679230,-73.925880,casual,2024-05-17,2024-09-06 23:52:52,2024-05-18,2024-09-06 00:15:59,1 days
81,2CCD100C070BAF98,electric_bike,2024-05-02 23:52:11,2024-05-03 00:16:28,Orchard St & Grand St,5343.11,Riverside Dr & W 72 St,7288.04,40.717174,-73.990712,40.780578,-73.985624,member,2024-05-02,2024-09-06 23:52:11,2024-05-03,2024-09-06 00:16:28,1 days
760,48C58F43B68EA9F9,classic_bike,2023-12-28 15:24:50,2023-12-29 00:39:49,Communipaw & Berry Lane,JC084,NaN,NaN,40.714364,-74.066666,40.720000,-74.070000,casual,2023-12-28,2024-09-06 15:24:50,2023-12-29,2024-09-06 00:39:49,1 days
796,AB6CA7B0D6DF3484,classic_bike,2023-12-14 23:41:15,2023-12-15 00:16:40,Hoboken Terminal - River St & Hudson Pl,HB102,Christ Hospital,JC034,40.736168,-74.029262,40.734786,-74.050444,casual,2023-12-14,2024-09-06 23:41:15,2023-12-15,2024-09-06 00:16:40,1 days
1079,81A20FF91A05F831,classic_bike,2024-03-07 23:42:26,2024-03-08 00:18:55,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.736982,-74.027781,40.736982,-74.027781,casual,2024-03-07,2024-09-06 23:42:26,2024-03-08,2024-09-06 00:18:55,1 days

In [97]:
# Calculate the difference between 'end_time' and 'start_time'
df_updated['time_length']=df_updated['end_time'] - df_updated['start_time']
df_updated[['start_time','end_time','time_length']].head()

           start_time            end_time     time_length
0 2024-09-06 20:23:29 2024-09-06 20:29:07 0 days 00:05:38
1 2024-09-06 18:09:52 2024-09-06 18:31:31 0 days 00:21:39
2 2024-09-06 17:02:45 2024-09-06 17:23:19 0 days 00:20:34
3 2024-09-06 20:08:41 2024-09-06 20:19:08 0 days 00:10:27
4 2024-09-06 08:43:36 2024-09-06 08:55:55 0 days 00:12:19